@import url("https: //fonts.googleapis.com/css2?family=Pattaya&amp;display=swap");

:root {
  --primary-color: #000;
  --secondary-color: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Pattaya';
  transition: background 0.5s;
  background-color: var(--primary-color);
}